.container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 179, 179);
  width: 500px;
  height: 90%;
}

.scroll {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  color: white;
  max-height: 100%;
  margin: 10px;
  overflow-y: auto;
  max-width: 500px;
}
.filters {
  display: inline;
  margin: 10px;
  padding: 5px;
  color: white;
  font-weight: 500;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.filters span {
  margin: 16px;
}
.buttons {
  display: inline;
  padding: 10px;
  margin: 10px;
}
.footer {
  display: grid;
}
.buttons button {
  margin: 20px 20px;
  background-color: rgb(125, 160, 125);
  padding: 10px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  margin: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 320px) {
  .container {
    width: 260px;
  }
  .scroll {
    width: 260px;
  }
  .filters {
    margin: 5px;
    font-weight: 100;
  }
  .filters span {
    margin: 5px;
  }
}
@media (max-width: 600px) and (min-width: 321px) {
  .container {
    width: 320px;
  }
  .scroll {
    width: 320px;
  }
  .filters {
    margin: 5px;
    font-weight: 100;
  }
  .filters span {
    margin: 5px;
  }
}
