.App {
  text-align: center;
  max-width: 500px;
  height: 600px;
  margin: 3rem auto;
  border: 2px solid rgb(42, 16, 55);
  border-radius: 2rem;
  background-color: rgb(246, 243, 242);
}
.buttons-container {
  display: inline;
  margin: 5px;
}
.buttons {
  background: black;
  color: white;
  padding: 5px;
  margin: 5px;
}
.button-change {
  margin: 20px 20px;
  background-color: rgb(125, 160, 125);
  padding: 10px;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
  font-weight: 700;
}
.delete-button {
  border: none;
  color: white;
  background-color: black;
  font-weight: 800;
}
.buttons-line {
  margin-left: 10px;
  font-weight: 800;
  font-size: larger;
}
