* {
  box-sizing: border-box;
}
body,
html {
  background-color: #e7e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.app-wrapper {
  text-align: center;
  width: 600px;
  height: 800px;
  padding: 1rem;
  background-color: rgb(246, 243, 242);
}
.app {
  width: 500px;
  height: 600px;
  margin: 0 auto;
}
.buttons-container {
  display: inline;
  margin: 5px;
}
.buttons {
  background: black;
  color: white;
  padding: 5px;
  margin: 5px;
}
.delete {
  border: none;
  color: white;
  background-color: black;
  font-weight: 800;
}
.line {
  margin-left: 10px;
  font-weight: 800;
  font-size: larger;
}
.change {
  margin: 20px 20px;
  background-color: rgb(125, 160, 125);
  padding: 10px;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
  font-weight: 700;
}

@media (max-width: 320px) {
  .app-wrapper {
    width: 280px;
      padding: 5px;
  }
  .app {
    width: 260px;
  }
  .buttons-container {
    margin: 0 auto;
      display: block;
  }
  .buttons {
    font-weight: 100;
    padding: 1px;
    margin: 1px;
  }
  .delete {
    font-weight: 100;
  }
  .line {
    margin-left: 2px;
    font-weight: 100;
    font-size: smaller;
  }
}
@media (max-width: 600px) and (min-width: 321px) {
  .app-wrapper {
    width: 340px;
      padding: 5px;
  }
  .app {
    width: 320px;
  }
  .buttons-container {
    margin: 0 auto;
    
  }
  .buttons {
    font-weight: 100;
    padding: 2px;
    margin: 2px;
  }
  .delete {
    font-weight: 100;
  }
  .line {
    margin-left: 2px;
    font-weight: 100;
    font-size: smaller;
  }
}
